.btnEvent {
    width: 80px;
}

a {
    color: #0FA00F;
}

a:hover {
    color: #05630C;
}

#Capacity {
    border-radius:10px;
}

.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  background-color: #eeeeee;
}

textarea{
    max-width: 280px !important;
    height: 100px;
    width: 230px;
    border-radius:10px;
    resize:none !important;
    border: 2px inset;
}