.listbox {
    width:170px;
    height:5em;
}
select, input[type=text] {
    width: 190px;
}
img {
    height:2.5em;
    width:75px;
}

#searchSubmit {
    margin-left:25px;
}
a {
    color: #0FA00F;
}
a:hover {
    color: #05630C;
}
