body {
    padding-bottom: 70px !important;
    color: black !important;
    background: linear-gradient(black, #05630C, #0FA00F, #05630C, black) center center fixed !important;
}
/* Footer */
footer {
    z-index:1111 !important;
    background-color:black !important;
    margin:0 !important;
    margin-bottom:-5px !important;
    clear:both !important;
    padding-bottom:5px !important;
    bottom:0 !important;
}
footer p {
    color: white !important;
    padding: 15px 0 5px 15px !important;
}
/* Header */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #05630C !important;
  background-color: transparent !important;
}
.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #05630C !important;
  background-color: transparent !important;
}
.navbar-inverse .navbar-brand {
  color: #0FA00F !important;
}
.navbar-inverse {
  background-color: black !important;
  border-color: #080808 !important;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right !important;
    }
}