body {
    padding-bottom: 70px;
    color: black;
    background: linear-gradient(black, #05630C, #0FA00F, #05630C, black) center center fixed;
    font-size:18px;
}
#logo {
    height: 3em;
    width: 60px;
    float:left;
    margin-right: 15px;
}
hr {
    margin-bottom: 50px;
}
.title {
    text-decoration:underline;
    font-weight:bold;
}
/* Footer */
footer {
    z-index:1111;
    background-color:black;
    margin:0;
    margin-bottom:-5px;
    clear:both;
    padding-bottom:5px;
    bottom:0;
}
footer p {
    color: white;
    font-size: 14px;
    padding: 15px 0 5px 15px;

}
/* Header */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #05630C;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #05630C;
  background-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #0FA00F;
}
.navbar-inverse {
  background-color: black;
  border-color: #080808;
}
@media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
}
/* Button button who's got the button? */
 .greenButton {
	border-radius: 5px;
	background-color: #0FA00F;
	color: black;
	border-left: black solid 1px;
	border-right: black solid 1px;
	border-top: black solid .1px;
	border-bottom: black solid 1px;
	font-weight: bold;	
	font-size: 16px;
	box-shadow: inset 0 0 2px 0 black;
}
.greenButton:hover {
	box-shadow: inset 0 1px 0 0 black, inset 0 1px 1px 0 black;
	background: linear-gradient(-45deg, black, #0FA00F, #0FA00F, black);
	color: black;
}
.greenButton:active {
	background: linear-gradient(-45deg, #0FA00F, black, #0FA00F);
	color: #0FA00F;
	box-shadow: inset 0 2px 0 0 black, inset 0 2px 2px 0 black;
}
 .defaultButton {
	border-radius: 5px;
	color: black;
	border-left: black solid 1px;
	border-right: black solid 1px;
	border-top: black solid .1px;
	border-bottom: black solid 1px;
	font-weight: bold;	
	font-size: 16px;
	box-shadow: inset 0 0 2px 0 black;
}
.defaultButton:hover {
	box-shadow: inset 0 1px 0 0 black, inset 0 1px 1px 0 black;
	color: black;
}
.defaultButton:active {
	box-shadow: inset 0 2px 0 0 black, inset 0 2px 2px 0 black;
}

/* tables */
th {
    background-color: #0FA00F;
    text-align:center;
}
td {
    font-weight: bold;  
    text-align:center;
}
.table tbody>tr>td{
    vertical-align: middle;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child{
  border-right: 0;
}
table a {
    color: #0FA00F;
}
table a:hover {
    color: #05630C;
}
/* selects */
select[multiple]{
    border: 1px solid #0FA00F;
}

select[multiple] option:hover
{
    background-color:#0FA00F;
}
