@using System;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin;
@using Microsoft.Owin.Security.Cookies;
@using Microsoft.Owin.Security.Google;
@using Owin;
@using SeaSharpe_CVGS.Models;
@using Stripe;
@using System.Configuration;
@{
    ViewBag.StripeApiPublicKey = ConfigurationManager.AppSettings["StripeApiPublicKey"];
    ViewBag.Title = "Buy";
}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script>Stripe.setPublishableKey('@Html.Raw(HttpUtility.JavaScriptStringEncode(@ViewBag.StripeApiPublicKey))');</script>
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2>@ViewBag.Title</h2>

    <form action="" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_MhISt2d76yJREej8MvfLNdfX"
                data-amount="12342"
                data-name="Demo Site"
                data-description="2 widgets ($20.00)"
                data-image="/128x128.png"
                data-locale="auto">
        </script>
    </form>
</div>
}
