
@{
    ViewBag.Title = "Report Management";
}

<h2>Report Management</h2>
<table>
    <tr><th>Report</th><th>View</th><th>Print</th></tr>
    <tr><td>Game Details</td><td><button>View</button></td><td><button>Print</button></td></tr>
    <tr><td>List Of Games</td><td><button>View</button></td><td><button>Print</button></td></tr>
    <tr><td>Member Details</td><td><button>View</button></td><td><button>Print</button></td></tr>
    <tr><td>List Of Members</td><td><button>View</button></td><td><button>Print</button></td></tr>
    <tr><td>Wishlist</td><td><button>View</button></td><td><button>Print</button></td></tr>
    <tr><td>Sales</td><td><button>View</button></td><td><button>Print</button></td></tr>
</table>


