
@{
    ViewBag.Title = "Report Management";
}
<link rel="stylesheet" href="~/Content/report.css" type="text/css">
<h1>Report Management</h1>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <div class="col-md-8 col-md-offset-2">
            <table class="table largeFont">
                <tr><th>Report Name</th><th>View Report</th><th>Print Report</th></tr>
                <tr><td>List Of Games</td><td>@Html.ActionLink("View", "ListGamesReport", new { print = false }, new { @class = "btn greenButton" })</td><td><input type="button" class="btn defaultButton" value="Print" /></td></tr>
                <tr><td>List Of Members</td><td>@Html.ActionLink("View", "ListMembersReport", new { print = false }, new { @class = "btn greenButton" })</td><td><input type="button" class="btn defaultButton" value="Print" /></td></tr>
                <tr><td>Wishlist</td><td>@Html.ActionLink("View", "WishListsReport", new { print = false }, new { @class = "btn greenButton" })</td><td><input type="button" class="btn defaultButton" value="Print" /></td></tr>
                <tr><td>Sales</td><td>@Html.ActionLink("View", "SalesReport", new { print = false }, new { @class = "btn greenButton" })</td><td><input type="button" class="btn defaultButton" value="Print" /></td></tr>
            </table>
        </div>
    </div>
</div>

