@{
    ViewBag.Title = "Contact CVGS Support";
}
<h1>@ViewBag.Title</h1>
<hr />
<div class="row">
    <div class="col-lg-12">       
        <div class="col-md-8 col-md-offset-2">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <address>
                            <strong>Conestoga Video Game Store</strong><br />
                            <i>c/o Customer Support</i><br />
                            299 Doon Valley Drive<br />
                            Kitchener, Ontario<br />
                            N2G 4M4<br />
                        </address>

                        <p><strong>Phone:</strong> <a href="tel:+15197485220">1-(519)-748-5220</a></p>
                        <p><strong>Support:</strong>   <a href="mailto:Support@cvgs.com">Support@example.com</a></p>
                        <p><strong>Marketing:</strong> <a href="mailto:Marketing@cvgs.com">Marketing@example.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>