@{
    ViewBag.Title = "Contact CVGS Support";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    299 Doon Valley Drive<br />
    Kitchener, Ontario N2G 4M4, Canada<br />
    <abbr title="Phone">P:</abbr>
    Phone: 519-748-5220
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@cvgs.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cvgs.com">Marketing@example.com</a>
</address>