@model IEnumerable<SeaSharpe_CVGS.Models.Game>
@{
    ViewBag.Title = "CVGS";
}
<head>
    <link rel="stylesheet" href="~/Content/home.css" type="text/css">
    <title>ViewBag.Title</title>
</head>
<div class="jumbotron">
    <h1>Hottest New Games</h1>
    <h3>Discover Thousands of Great Deals Throughout CVGS</h3>
</div>
@for (int i = 0; i < Model.Count(); i+=4)
{
    <div class="row">
        <div class="col-md-3">
            <a href="/Game/Details/@Model.ElementAtOrDefault(i).Id"><img src="@Model.ElementAtOrDefault(i).ImagePath" class="img-game" /></a>
        </div>
        <div class="col-md-3">
            <a href="/Game/Details/@Model.ElementAtOrDefault(i+1).Id"><img src="@Model.ElementAtOrDefault(i + 1).ImagePath" class="img-game" /></a>
        </div>
        <div class="col-md-3">
            <a href="/Game/Details/@Model.ElementAtOrDefault(i+2).Id"><img src="@Model.ElementAtOrDefault(i + 2).ImagePath" class="img-game" /></a>
        </div>
        <div class="col-md-3">
            <a href="/Game/Details/@Model.ElementAtOrDefault(i+3).Id"><img src="@Model.ElementAtOrDefault(i + 3).ImagePath" class="img-game" /></a>
        </div>
    </div>
}

