@{
    ViewBag.Title = "Confirm Email";
}
<link rel="stylesheet" href="~/Content/account.css" type="text/css">
<h1>@ViewBag.Title</h1>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <p>
            Thank you for confirming your email. Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to log in.
        </p>
    </div>
</div>
