@{
    ViewBag.Title = "Reset Password Confirmation";
}
<link rel="stylesheet" href="~/Content/account.css" type="text/css">
<div class="row">
    <div class="col-lg-12 ">
        <h1>@ViewBag.Title</h1>
        <hr/>
        <div class="col-md-10 col-md-offset-1">
            <p class="largeFont">
                <br />Your password has been reset.
                Please click 
                @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                to login.
            </p>
        </div>
    </div>
</div>